.banner {
  color: white;
  text-align: center;
  height: 92vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  // added effects for banner parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h1 {
  font-family:"Cabin";
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom:10px
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.btn-lg-alt {
    padding: 5px;
    line-height: 1.8em;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid #f9f9f9;
    text-decoration: none;
    font-size:30px;
    font-weight: normal;
    color:white;
    transition: background-color .3s ease-in-out;
  }

  .btn-lg-alt:hover {
    background-color: #f9f9f9;
    color: #333;
  }


.features-wrapper {
    background-color: #F4F4F4;

}


.align-image {
  margin-top: -40px;
}


.align-image a {
display: inline-block;
position: relative;
transform-style: preserve-3d;
transition: 0.4s;
}
.align-image a:hover {
transform: rotateY(180deg);
}


.home-first-wrapper {
  margin-bottom: 90px;
  margin-top:50px
}


.home-quote {
  margin-top:50px;
  font-family: 'Cabin'
}

// .home-first-wrapper {
//   background-color:grey
// }


// .homepage-second-wrapper {
//   background-color: rgb(244,244,244);
//   margin-bottom: 50px;
//   font-family: 'Cabin'
// }


.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}
.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}
.supporting img {
  height: 32px;
}
.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}
.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}
.footer p {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

.carousel .item {
  height: 450px;
    align-items: center;
  justify-content: center;
  background-position: center;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
      justify-content: center;
  background-position: center;
}

.carousel-inner h3 p {
  font-family:'Cabin'

}


// Testimony css code

.testimonial-quote {
    font-size: 16px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box;
}

.testimonial-quote blockquote p {
    color: #75808a;
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote img {
    border: 3px solid #9CC1D3;
    border-radius: 50%;
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -.2em;
    left: 0;
}

.testimonial-quote cite {
    color: gray;
    display: block;
    font-size: .6em;
}

.testimonial-quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white;
}

.testimonial-quote {
    position: relative;
}

.testimonial-quote .quote-container {
    padding-left: 160px;
}

.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px;
}

.testimonial-quote.right img {
    left: auto;
    right: 0;
}

.testimonial-quote.right cite {
    text-align: right;
}


