.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.panel-title {
  background-color: #2381D0;
  color: white;

  font: sans-serif, bold, 20px, blue;
  border-radius: 5px;
  padding: 3px;
  height: 25px;

}

.carduser {
  background-color: rgba(300,300,300, 0.5);
  border-radius: 5px;
  padding: 10px;
}
.panel {
  background-color: rgba(200,200,200, 0.5);
  padding-left: 50px;
}
.input {
  background-color: red;
}

.profil-pic {
  border-radius: 30%;
}

