 <div class="product">
      <% if booking.product.photo? %>
        <%= cl_image_tag booking.product.photo.path, class: "product-image hidden-xs"%>
      <% end %>
      <div class='product-body'>
        <h3><%= booking.product.title %></h3>
        <p>From <strong><%= booking.check_in %></strong> to <strong><%= booking.check_out %></strong></p>
      </div>
      <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-trash"></i></a></li>
      </ul>
    </div>
  </div>
