<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3   col-sm-6 footerleft ">
        <h6 class="heading7">CONTACT</h6>
        <p><i class="fa fa-map-pin"></i> 9, rue Villa-Gaudelet - 75011, Paris, FRANCE</p>
        <p><i class="fa fa-phone"></i> Phone (Paris) : +33 6 75 72 75 25</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@wildandbeautiful.com</p>
        <p class="copyright"><i class="fa fa-copiright"></i> © 2017 - All Rights with WildProject</p>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>Foster: "SilverLining proposes a new alternative for seniors"<span>May, 18,2017</span></p>
          <p>Legal Advices for owners in Paris<span>May 3,2017</span></p>
        </div>
      </div>
       <div class="col-md-3 col-sm-6 down ">
      </div>
      <div class="col-md-3 col-sm-6 share-links">
        <a href="#"  class="fa fa-facebook"><i> </i>
        </a>

        <a href="#"  class="fa fa-twitter"><i> </i>
        </a>

        <a href="#"  class="fa fa-envelope"><i> </i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!--footer ends here-->













