<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<div class="footer">
  <div class="container_footer">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p><i class="fa fa-map-pin"></i> 9, rue Villa-Gaudelet - 75011, Paris, FRANCE</p>

        <p><i class="fa fa-envelope"></i> E-mail : info@wildandbeautiful.com</p>

      </div>
      <div class="col-xs-12 col-sm-4 center-text">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="ccol-xs-12 col-sm-4">
        <p> @ LeWagon - © 2017 All Rights with WildProject</p>
      </div>
    </div>
  </div>
</div>











