
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 40, 0.50) 50%), url('<%= image_path('homepage-picture-2.jpg')%>');">

  <div class="banner-content text-center">
    <h1>Welcome to The Wild project</h1>
    <%= link_to "Rent a place", user_session_path, class:"btn-lg-alt", style:"text-decoration:none" %>
  </div>
  </div>
<div class="container text-center">
<a href="#test">
<img class="align-image text-center" src="https://mstxs317jap2jkr871oardiejo-wpengine.netdna-ssl.com/wp-content/uploads/2014/04/down-arrow.png" alt="down-arrow" width="72" height="72">
</a>
</div>
<div class="home-first-wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card"><h3>test</h3></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card"><h3>test</h3></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card"><h3>test</h3></div>
      </div>
    </div>
  </div>

</div>


<div class="homepage-second-wrapper" id="test">
  <div class="container text-center">
    <h2 class="home-quote">Review de gens</h2>
  </div>

</div>

<div class="supporting">
   <div class="container">

     <div class="col">
       <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
       <h2>Research a place </h2>
       <p>Find other musicians, and play with them.</p>
       <a class="btn-default" href="#">Learn more</a>
     </div>

     <div class="col">
       <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
       <h2>Find a place </h2>
       <p>To be a music teacher</p>
       <a class="btn-default" href="#">Learn more</a>
     </div>

     <div class="col">
       <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
       <h2>Enjot the place !</h2>
       <p>And use our website</p>
       <a class="btn-default" href="#">Learn more</a>
     </div>

   </div>
   <div class="clearfix"></div>
 </div>
