
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 40, 0.50) 50%), url(https://unsplash.com/search/factory?photo=oNus-vJDeUo);">
  <div class="banner-content text-center">
  </div>
  <p>test</p>
</div>
