// Your footer style
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

footer {
 background-color:#222222;


 font-family: 'Open Sans', sans-serif;
  margin-top:10px;
  padding:0 10px;
}

.footerleft p {
  color:#fff;
  font-size:12px !important;
  font-family: 'Open Sans', sans-serif; margin-bottom:15px;
}
.footerleft p i {
  width:20px;
  color:#999;
}


.paddingtop-bottom {

}
.footer-ul { list-style-type:none;
  padding-left:0px;
  margin-left:2px;
}
.footer-ul li { line-height:29px;
 font-size:12px;
}
.footer-ul li a {
  color:#a0a3a4;
  transition: color 0.2s linear 0s,
  background 0.2s linear 0s;
}

.footer-ul i {
  margin-right:10px;
}
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color:#ff670f;
}

.social:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}




.icon-ul {
  list-style-type:none !important;
  margin:0px;
  padding:0px;
}
.icon-ul li {
  line-height:75px;
  width:100%; float:left;
}
.icon { float:left; margin-right:5px;}


.copyright {
  background-color: #222222;
  margin-bottom:0px;
  position: relative;
  bottom: 0;
  right: 10px;

}
.copyright p {
  text-align:left;
  color:#FFF;


}
.heading7 { font-size:21px;
  font-weight:700;
  color:#d9d6d6;
  margin-bottom:22px;
}
.post p { font-size:12px;
  color:#FFF;
  line-height:20px;}

  .post p span {
    display:block;
    color:#8f8f8f;
  }

  .bottom_ul li a {
    color:#FFF;
    font-size:12px;
  }

  .share-links {
    width: 100px;
    float: right;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20px;
    left: 20px;

  }

